﻿@model IEnumerable<mvc16.Models.Plato>

<br/>
<label>Elige el plato: </label>
<select>
    @foreach (var plato in Model)
    {
        <option value="@plato.Id">@plato.Nombre</option>
    }
</select>

@*<select>
    <option>Huevos rotos</option>
    <option>Croquetas</option>
    <option>Tosta de bacon</option>
</select>*@