﻿@model IEnumerable<mvc16.Models.Ingrediente>
<br />
<table class="table table-striped">
    @foreach (var ingrediente in Model)
    {
        <tr>
            <td>@ingrediente.Id&nbsp;</td>
            <td>@ingrediente.Nombre&nbsp;</td>
            <td>@ingrediente.Cantidad&nbsp;</td>
            <td>@ingrediente.Unidad</td>
        </tr>
    }
</table>